<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>  
  
    <session-factory>
        
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.223.96.237:1521:CWBOFFDB</property>
        <property name="connection.username">sa</property>  
		<property name="connection.password">password-1</property> 
        
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
    <mapping resource="com/resource/UserRegistration.hbm.xml"></mapping> 
    <mapping resource="com/resource/TheatreAdmin.hbm.xml"></mapping> 
    <mapping resource="com/resource/TheatreDetails.hbm.xml"></mapping> 
    <mapping resource="com/resource/MovieDetails.hbm.xml"></mapping>
    </session-factory>  
  
</hibernate-configuration> 